
{{extend 'layout.html'}}


<h3>Timelapse2pi</h3>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            <a href="{{=URL(r=request, c='timelapse', f='index')}}" class="btn btn-large">
                <i class="fa fa-list"></i> Show Recorded Timelapses
            </a>
        </div>
        <div class="span4">
            <a href="{{=URL(r=request, c='timelapse', f='schedule')}}" class="btn btn-large" >
                <i class="fa fa-calendar"></i> <i class="fa fa-plus"></i> Create New Timelapse
            </a>
            <p>Create a basic timelapse using raspistill's built-in timelapse feature. Recommended 
            when you want intervals of less than 5 seconds between images.</p>
        </div>
        <div class="span4">
            <a href="{{=URL(r=request, c='timelapse', f='schedule_pipic')}}" class="btn btn-large">
                <i class="fa fa-calendar"></i> <i class="fa fa-plus"></i><i class="fa fa-plus"></i> 
                Create New Timelapse With Dynamic Exposure
            </a>
            <p>
            Create a timelapse during which the camera ISO and Exposure settings are continually adjusted 
            to maintain a desired brightness level. Good when lighting will change during the course of your 
            timelapse and can help reduce the flicker that occurs when raspistill is allowed to choose its own 
            exposure for every shot.
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <a href="{{=URL(r=request, c='webcam', f='index')}}" class="btn btn-large">
                <i class="fa fa-camera"></i> Simple Webcam
            </a>
            <p>Basic webcam function meant to help you aim your camera before starting a timelapse.</p>
        </div>
        <div class="span4">
            <a href="{{=URL(r=request, c='default', f='instructions')}}" class="btn btn-large">
                <i class="fa fa-info"></i> Instructions &amp; Tips
            </a>
        </div>
        <div class="span4">
            
        </div>
    </div>
</div>
