{{extend 'layout.html'}}

<h1>Instructions &amp; Tips</h1>

<h2>Creating Timelapse Video from Images</h2>
<p>Because the Raspberrypi is low powered, you'll need to download the images 
from your completed timelapse and then convert them on a regular PC. These instructions 
assume that you'll be doing the conversion on a Linux computer though you should be 
able to find software to do the same thing for Windows or Mac.</p>

<p>The following simple bash script will compile a video from the individual images, simply 
run it from the folder where you have extracted the individual images. 
<a href="{{=URL(r=request, c='static', f='helper_scripts/make_timelapse_video.sh')}}">Download script</a></p>
<pre><code>
#avconv -r 10 -i pics/image_%04d.jpg -r 10 -vcodec libx264 -crf 20 -g 15 timelapse.mp4
#-r is framerate in frames/second (standard video is 24 or 30 fps though you'll probably want closer to 10 for a timelapse)
# -i input filename pattern
# -vcodec set video coded (alias for "-codec:v") here H.264
# -g set group of picture (GOP) size
# -crf Select the quality for constant quality mode
avconv -r 10 -i image_%04d.jpg -r 10 -vcodec libx264 -crf 20 -g 15 timelapse.mp4
</code></pre>

<h2>Adding a timestamp to the images and/or adjusting brightness.</h2>
<p>If you'd like to add a timestamp to the bottom of your images or try to even out the 
brightness before you create your timelapse video, you may use 
<a href="{{=URL(r=request, c='static', f='helper_scripts/deflicker.py')}}">deflicker.py</a>. This version is 
adapted from <a href="https://github.com/sdenton4/pipic/blob/master/deflicker.py">SDenton4's pipic project</a>.

<h3>Basic Usage</h3>
<p>Download deflicker.py and save it in the same directory as your images.</p>
<pre><code>
python deflicker.py -i images -o processed -b 0 -a 1
</code></pre>
<p>Options:</p>
<dl class="dl-horizontal">
    <dt>-b, --bright</dt>
    <dd>Target brightness for images, from 1 to 256.  Default: 128. Will adjust the brightness of each image 
    to try to match the target. Use 0 to leave images brightness as-is.</dd>
    
    <dt>-p, --pixelavg</dt>
    <dd>Number of images to use for pixel averaging.  Default: 1 (no pixel averaging.)</dd>
    
    <dt>-t, --thresh</dt>
    <dd>Threshold between 0 and 1 for auto-levelling.  Higher numbers mean more stretching of the color palette.  Default: 0.05.</dd>
    
    <dt>-a, --annotate</dt>
    <dd>Whether to annotate images.  0->no annotation, 1->filename + file creation time, 2->date parsed from filename'</dd>
    
    <dt>-i, --infix</dt>
    <dd>refix for raw files. (Will be ""image" for timelapses downloaded from timelapse2pi.)</dd>
    
    <dt>-c, --compare</dt>
    <dd>lace original and modified images side-by-side for comparison. (0 no, 1 yes.) Default: 0</dd>
    
    <dt>-o, --outfix</dt>
    <dd>Prefix for modified files.</dd>
</dl>