{{extend 'layout.html'}}
<h1>Delete Timelapse: {{=timelapse.name}}?</h1>

<div class="container-fluid">
    <div class="row-fluid">
        <div span="12">
            <div class="alert">
                <p>
                    <i class="fa fa-exclamation-circle"></i> Are you really sure that you wish to delete this timelapse job and ALL of its associated images? Make sure you have downloaded and saved the images because there is NO way to undo this action!
                </p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <a class="btn" href="{{=URL(r=request, f='view', args=[timelapse.id])}}">{{=T('No - Let me Review and Download it instead')}}</a>
        </div>
        <div class="span6">
            <a class="btn btn-danger" href="{{=URL(r=request, f='delete', args=[timelapse.id], vars=dict(really_sure = 1))}}">
            <i class="fa fa-trash"></i> {{=T('Yes I am 100% Sure - Delete it!')}}</a>
        </div>
    </div>
</div>

 <br />

{{=BEAUTIFY(response._vars)}}
