{{extend 'layout.html'}}
<h1>Manage/View Timelapses</h1>
<table class="table table-striped table-border">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>Status</th>
            <th>Interval</th>
            <th>Duration</th>
            <th>Captured Images</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{for timelapse in timelapses:}}
        <tr>
            <td><a href="{{=URL(r=request, f='view', args=timelapse.timelapse.id)}}">
                {{=timelapse.timelapse.name}} <i class="fa fa-eye"></i></a></td>
            <td>{{=timelapse.timelapse.start_time.strftime('%Y-%m-%d %I:%M%p')}}</td>
            <td>{{=timelapse.scheduler_task.status}}</td>
            <td>{{=timelapse.timelapse.shot_interval}} {{=timelapse.timelapse.shot_uom}}</td>
            <td>{{=timelapse.timelapse.duration}} {{=timelapse.timelapse.duration_uom}}</td>
            <td>{{if timelapse.timelapse.completed_at != None:}}{{=timelapse.timelapse.images_captured}}{{else:}}Unknown{{pass}}</td>
            <td><a class="btn"  href="{{=URL(r=request, f='delete', args=timelapse.timelapse.id)}}"><i class="fa fa-trash"></i></a></td>
        </tr>
        {{pass}}
    </tbody>
</table>

<a href="{{=URL(r=request, c='timelapse', f='schedule')}}" class="btn btn-large" >
    <i class="fa fa-calendar"></i> <i class="fa fa-plus"></i> Create New Timelapse
</a>
<a href="{{=URL(r=request, c='timelapse', f='schedule_pipic')}}" class="btn btn-large">
    <i class="fa fa-calendar"></i> <i class="fa fa-plus"></i><i class="fa fa-plus"></i> 
    Create New Timelapse With Dynamic Exposure
</a>
