{{extend 'layout.html'}}
<h1>This is the timelapse/pipic.html template</h1>


<h1>Timelapse - shot taken every {{=interval}} seconds for {{=interval * number_of_frames}} seconds ({{=number_of_frames}} images)</h1>
{{for image in images:}}
<img src="{{=URL(r=request, c='static', f='timelapse/%s' % image['filename'])}}" title="{{=image['filename']}}"/><br />
<p>
    {{=image['created_time'].strftime('%I:%M:%S%p')}}<br />
</p>
{{pass}}
{{#=BEAUTIFY(response._vars)}}
