{{extend 'layout.html'}}
<h1>Schedule a new timelapse</h1>
{{=form}}

<h2>Raspistill Custom Arguments</h2>
<ul>
    <li><a href="http://elinux.org/Rpi_Camera_Module#RaspiStill">raspistill command reference</a></li>
    <li>Many of the options are already being set in the timelapse code or else don't sensibly apply 
    under the timelapse use case (assumed probably running headless without a display for example). 
    Those options marked with a <i class="fa fa-exclamation-circle"></i> should not be included in 
    your optional custom arguments. Options marked with a <i class="fa fa-info-circle"></i> are controlled 
    through the form options above or otherwise explicitly set in code.
    </li>
    
    
</ul>

<h3>Image parameter commands</h3>
<dl class="dl-horizontal">
    <dt>-?, --help</dt>
    <dd>This help information. <i class="fa fa-exclamation-circle"></i></dd>
    
    <dt>-w, --width</dt>
    <dd>Set image width < size > <i class="fa fa-exclamation-circle"></i><i class="fa fa-info-circle"></i></dd>
    
    <dt>-h, --height</dt>
    <dd>Set image height < size > <i class="fa fa-exclamation-circle"></i><i class="fa fa-info-circle"></i></dd>
    
    <dt>-q, --quality</dt>
    <dd>Set jpeg quality <0 to 100></dd>
    
    <dt>-r, --raw </dt>
    <dd>Add raw bayer data to jpeg metadata</dd>
    
    <dt>-o, --output</dt>
    <dd>Output filename <filename> (to write to stdout, use '-o -'). If not specified, no file is saved. 
    <i class="fa fa-exclamation-circle"></i><i class="fa fa-info-circle"></i></dd>
    
    <dt>-l, --latest </dt>
    <dd>Link latest complete image to filename < filename > 
    <i class="fa fa-exclamation-circle"></i><i class="fa fa-info-circle"></i></dd>
    
    <dt>-v, --verbose</dt>
    <dd>Output verbose information during run. <i class="fa fa-exclamation-circle"></i></dd>
    
    <dt>-t, --timeout</dt>
    <dd>Time (in ms) before takes picture and shuts down (if not specified, set to 5s)
                  minimum 30ms, setting to 0 waits forever. <i class="fa fa-exclamation-circle"></i><i class="fa fa-info-circle"></i></dd>
    
    <dt>-th, --thumb</dt>
    <dd>Set thumbnail parameters (x:y:quality) or none</dd>
    
    <dt>-d, --demo </dt>
    <dd>Run a demo mode (cycle through range of camera options, no capture). <i class="fa fa-exclamation-circle"></i></dd>
    
    <dt>-e, --encoding</dt>
    <dd>Encoding to use for output file (jpg, bmp, gif, png)</dd>
    
    <dt>-x, --exif</dt>
    <dd>EXIF tag to apply to captures (format as 'key=value') or none. <i class="fa fa-exclamation-circle"></i></dd>
    
    <dt>-tl, --timelapse</dt>
    <dd>Timelapse mode. Takes a picture every < t > ms. <i class="fa fa-exclamation-circle"></i><i class="fa fa-info-circle"></i></dd>
    
    <dt>-fp, --fullpreview</dt>
    <dd>Run the preview using the still capture resolution (may reduce preview fps). <i class="fa fa-exclamation-circle"></i></dd>
    
    <dt>-k, --keypress</dt>
    <dd>Wait between captures for a ENTER, X then ENTER to exit. <i class="fa fa-exclamation-circle"></i></dd>
    
    <dt>-s, --signal</dt>
    <dd>Wait between captures for a SIGUSR1 from another process. <i class="fa fa-exclamation-circle"></i></dd>
    
    <dt>-g, --gl </dt>
    <dd>Draw preview to texture instead of using video render component. <i class="fa fa-exclamation-circle"></i></dd>
    
    <dt>-gc, --glcapture</dt>
    <dd>Capture the GL frame-buffer instead of the camera image. <i class="fa fa-exclamation-circle"></i></dd>
</dl>


<h3>Preview parameter commands</h3>
<p>Setting these for a timelapse doesn't make much sense so --nopreview is already set in the code.</p>
<dl class="dl-horizontal">
    <dt>-p, --preview</dt>
    <dd>Preview window settings <'x,y,w,h'></dd>
    
    <dt>-f, --fullscreen</dt>
    <dd>Fullscreen preview mode</dd>
    
    <dt>-op, --opacity</dt>
    <dd>Preview window opacity (0-255)</dd>
    
    <dt>-n, --nopreview</dt>
    <dd>Do not display a preview window. <i class="fa fa-info-circle"></i></dd> 
</dl>

<h3>Image parameter commands</h3>
<dl class="dl-horizontal">
    <dt>-sh, --sharpness</dt>
    <dd>Set image sharpness (-100 to 100)</dd>
    
    <dt>-co, --contrast</dt>
    <dd>Set image contrast (-100 to 100)</dd>
    
    <dt>-br, --brightness</dt>
    <dd>Set image brightness (0 to 100)</dd>
    
    <dt>-sa, --saturation</dt>
    <dd>Set image saturation (-100 to 100)</dd>
    
    <dt>-ISO, --ISO</dt>
    <dd>Set capture ISO.</dd>
    
    <dt>-vs, --vstab</dt>
    <dd>Turn on video stabilisation</dd>
    
    <dt>-ev, --ev</dt>
    <dd>Set EV compensation (-25 to 25)</dd>
    
    <dt>-ex, --exposure</dt>
    <dd>Set exposure mode (see Notes)</dd>
    
    <dt>-awb, --awb </dt>
    <dd>Set AWB mode (see Notes). <i class="fa fa-exclamation-circle"></i><i class="fa fa-info-circle"></i> 'auto'</dd>
    
    <dt>-ifx, --imxfx</dt>
    <dd>Set image effect (see Notes)</dd>
    
    <dt>-cfx, --colfx </dt>
    <dd>Set colour effect (U:V)</dd>
    
    <dt>-mm, --metering</dt>
    <dd>Set metering mode (see Notes).</dd>
    
    <dt>-rot, --rotation</dt>
    <dd>Set image rotation (90,180,270)</dd>
    
    <dt>-hf, --hflip</dt>
    <dd>Set horizontal flip</dd>
    
    <dt>-vf, --vflip</dt>
    <dd>Set vertical flip</dd>
    
    <dt>-roi, --roi</dt>
    <dd>Set region of interest (x,y,w,d as normalised coordinates [0.0-1.0])</dd>
    
    <dt>-ss, --shutter</dt>
    <dd>Set shutter speed in microseconds <i class="fa fa-exclamation-circle"></i><i class="fa fa-info-circle"></i></dd>

</dl>

<h3>Notes</h3>
<dl>
    <dt>Exposure mode options</dt>
    <dd>auto, night, nightpreview, backlight, spotlight, sports, snow, beach, verylong, 
    fixedfps, antishake, fireworks</dd>
    
    <dt>AWB mode options</dt>
    <dd>off, auto, sun, cloud, shade, tungsten, fluorescent, incandescent, flash, horizon</dd>
    
    <dt>Image Effect mode options</dt>
    <dd>none, negative, solarise, sketch, denoise, emboss, oilpaint, hatch, gpen, pastel, watercolour, 
    film, blur, saturation, colourswap, washedout, posterise, colourpoint, colourbalance, cartoon</dd>
    
    <dt>Metering Mode options</dt>
    <dd>average, spot, backlit, matrix</dd>
    
</dl>
