{{extend 'layout.html'}}


<h1>Timelapse: {{=timelapse.name}}</h1>
<ul>
    <li>Interval: {{=timelapse.shot_interval}} {{=timelapse.shot_uom}} <i class="fa fa-tachometer"></i></li>
    <li>Duration: {{=timelapse.duration}} {{=timelapse.duration_uom}} <i class="fa fa-clock-o"></i></li>
    <li>Image Size: <i class="fa fa-arrows-h"></i>{{=timelapse.width}} x <i class="fa fa-arrows-v"></i>{{=timelapse.height}}px</li>
    <li>Start Time: {{=timelapse.start_time.strftime('%Y-%m-%d %I:%M%p')}}</li>
    <li>Status: {{=task.status}}
        {{if task.status == 'RUNNING':}}<i class="fa fa-spin fa-cog"></i>
        {{elif task.status == 'COMPLETED':}}<i class="fa fa-check"></i>
        {{elif task.status == 'FAILED':}}<i class="fa fa-close"></i>
        {{pass}}
    </li>
    <li>Images Captured: {{=len(images)}} <i class="fa fa-camera"></i></li>
    <li>Image Directory: {{=image_directory}}</li>
    {{if task.status == 'COMPLETED' or len(images) > 0:}} 
    <li><a class="btn btn-primary" href={{=URL(r=request, f='download', args=timelapse.id)}}>Download all images as zip file <i class="fa fa-download"></i></a> <a class="btn btn-primary" href={{=URL(r=request, f='download_tar', args=timelapse.id)}}>Download all images as tar file <i class="fa fa-download"></i></a></li>
    {{pass}}
    {{if task.status != 'RUNNING':}}
    <li><a class="btn btn-danger"  href="{{=URL(r=request, f='delete', args=timelapse.id)}}"><i class="fa fa-trash"></i> Delete</a></li>
    {{pass}}
</ul>
{{#=BEAUTIFY(task)}}
<h2>Most recent image:</h2>
{{if task.status == 'RUNNING':}}
<img id="latest_image" src="{{=URL(r=request, f='get_latest_image', args=timelapse.id, vars=dict(t='foo'))}}" title="latest image"/><br />
<script type="text/javascript">
$(document).ready(function() {
    var $img = $('#latest_image');
    setInterval(function() {
        var d = new Date();
        
        $img.attr('src', '{{=URL(r=request, c='static', f='timelapse/'+timelapse.image_folder+'/latest_image.jpg')}}'+'?'+d.getTime());//add getTime to avoid caching
           
        
        }, 5000);
});
</script>
{{else:}}
<img src="{{=URL(r=request, c='static', f='timelapse/'+timelapse.image_folder+'/latest_image.jpg')}}" title="latest image"/><br />
{{pass}}
<h3>Most Recent Images</h3>
<!--
<div class="container">
<ul class="thumbnails">
{{images_to_preview = images[(-1*(int(preview_images)+1)):-1]#(use -1 at end because it'll generally be the latest_image.jpg)
images_to_preview.reverse()}}
{{try:}}
{{for image in images_to_preview:}}
    {{if image['filename'] != 'latest_image.jpg':}}
    <li class="span6">
        <div class="thumbnail">
            <img src="{{=URL(r=request, c='static', f='timelapse/'+timelapse.image_folder+'/%s' % image['filename'])}}" title="{{=image['filename']}}" />
            <div class="caption">
            <p>
            {{=image['created_time'].strftime('%I:%M:%S%p')}}
            </p>            
            </div>
        </div>
    </li>        
        
    {{pass}}
{{pass}}
{{except:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
</ul>
</div>
-->

{{#=BEAUTIFY(response._vars)}}
{{# figure out starting refresh secods based off of timelapse settings

if timelapse.shot_uom == 'Seconds':
    initial_refresh_seconds = timelapse.shot_interval
elif timelapse.shot_uom == 'Minutes':
    initial_refresh_seconds = timelapse.shot_interval * 60
elif timelapse.shot_uom == 'Hours':
    initial_refresh_seconds = timelapse.shot_interval * 60 * 60
else:
    #just in case
    initial_refresh_seconds = 30
pass
}}
Preview <input id="preview_images_to_show" name="preview_images_to_show" value="{{=preview_images}}"></input> images refreshing every <input id="preview_images_refresh_seconds" name="preview_images_refresh_seconds" value="{{=initial_refresh_seconds}}"></input> seconds.

<div id="ractive_preview_images2"></div>
<script type="text/ractive" id="preview_image_template2">
    
    <p>Image captured every <% timelapse.shot_interval %> <% timelapse.shot_uom %> for <% timelapse.duration %> <% timelapse.duration_uom %></p>
    
</script>

<div id="ractive_preview_images"></div>
<script type="text/ractive" id="preview_image_template">
    
    <div class="container">
        <ul class="thumbnails">


        <% #if images %>
            <% #images %>
            <li class="span6">
                <div class="thumbnail">
                    <img src="{{=URL(r=request, c='static', f='timelapse/'+timelapse.image_folder+'/')}}<% filename %>" title="<% filename %>" />
                    <div class="caption">
                    <p>
                    <% date_format(created_time) %> <% created_time %>
                    </p>            
                    </div>
                </div>
            </li>       
            <% /images %>
        <% else %>
            <p>Sorry nothin' to see yet!</p>
        <% /if %>
        </ul>
    </div>
</script>
		<script language="javascript" type="text/javascript">

        function get_refresh_rate(){
            var refresh_seconds = $('#preview_images_refresh_seconds').val();
            if(typeof refresh_seconds === 'undefined' || refresh_seconds == ''){
            refresh_seconds = 30;
            }
            return refresh_seconds;
        }
        function get_num_images(){
            var num_images = $('#preview_images_to_show').val();
            if(typeof num_images === 'undefined' || num_images == ''){
            num_images = 10;
            }
            return num_images;
        }
        refresh_seconds = get_refresh_rate();
        
        function get_preview_images(num_images, refresh_seconds){
            console.log('images: '+num_images);
            console.log('timeout seconds: '+refresh_seconds);
            var now = new Date().getTime();
            console.log('datetime: '+moment(now).format());
		    $.getJSON('{{=URL(r=request, f="preview_images", extension="json", args=[timelapse.id])}}?preview_images='+num_images)
		            .done(function( data ) {
                    console.log('completed data fetch');
                    
		            //add a number formating function using Numeral.js (http://numeraljs.com/)
		            data['number_format']= function ( num ) {
		                  return numeral(num).format('0,0')
		                };
		            //add a date formating function using moment.js (http://momentjs.com)
		            data['date_format'] = function(d){return moment(d).format("MMM D, YYYY h:mm:ss a")};
		
		            var controller = new Ractive({
		                    el: 'ractive_preview_images',
		                    template: '#preview_image_template',
		                    //change RactiveJS delimiters so don't conflict with those used by web2py templates
		                    delimiters: [ '<%', '%>' ],
		                    tripleDelimiters: [ '<%%', '%%>' ] ,
		                    data: data
		                });

                    var controller2 = new Ractive({
		                    el: 'ractive_preview_images2',
		                    template: '#preview_image_template2',
		                    //change RactiveJS delimiters so don't conflict with those used by web2py templates
		                    delimiters: [ '<%', '%>' ],
		                    tripleDelimiters: [ '<%%', '%%>' ] ,
		                    data: data
		                });
                    //recheck the refresh rate and number of preview images to show in case user has updated form
                    refresh_seconds = get_refresh_rate();
                    num_images = get_num_images();
                    setTimeout(function(){refresh_preview_images(controller, num_images, refresh_seconds);}, refresh_seconds*1000);
		            
		    }).fail(function( jqxhr, textStatus, error ) {
                var err = textStatus + ", " + error;
                console.log( "Request Failed: " + err );
                });

            
		};

        function refresh_preview_images(ractive_controller, num_images, refresh_seconds){
            console.log('images: '+num_images);
            console.log('timeout seconds: '+refresh_seconds);
            var now = new Date().getTime();
            console.log('datetime: '+moment(now).format("MMM D, YYYY h:mm:ss a"));
		    $.getJSON('{{=URL(r=request, f="preview_images", extension="json", args=[timelapse.id])}}?preview_images='+num_images)
		            .done(function( data ) {
		                //alert(ractive_controller);
		                ractive_controller.set('images', data.images);
		            
		    }).always(console.log('completed fetch'));

            //recheck the refresh rate and number of preview images to show in case user has updated form
            refresh_seconds = get_refresh_rate();
            num_images = get_num_images();
            setTimeout(function(){refresh_preview_images(ractive_controller, num_images, refresh_seconds);}, refresh_seconds*1000);
		};

        $(document).ready(function() {
            num_images = $('#preview_images_to_show').val();
            //alert(num_images);
            get_preview_images(num_images, get_refresh_rate());
            //setTimeout(function(){get_preview_images(num_images, refresh_seconds);}, refresh_seconds);
        });

		</script>


